<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801053781516-fvr8jd4mtar7f9qj8hr9mb7tkmlm2r9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801053781516-fvr8jd4mtar7f9qj8hr9mb7tkmlm2r9d</string>
	<key>API_KEY</key>
	<string>AIzaSyBDFpabzs3s3gyoaqok5buL2BzTKtJZGmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>801053781516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timewarp</string>
	<key>PROJECT_ID</key>
	<string>timewarp-548e9</string>
	<key>STORAGE_BUCKET</key>
	<string>timewarp-548e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801053781516:ios:2fb865ead2d9a126318829</string>
</dict>
</plist>